#xySlider {
	width: 580px;
	height: 210px;
	border: 10px solid gray;
	margin: 20px auto;
	overflow: hidden;
	
	display: flex;
	flex-wrap: wrap;
}

#xySlider img {
	display: none;
}

input[type=number]{
	width: 50px;
}

table {
	margin: 0px 10px;
}

td {
	border: 1px solid black;
	width: 40px;
}

#okvir1 {
	margin: 25px;
	display: flex;
}

select {
	width: 100px;
	margin: 0px 10px;
}

textarea {
	tab-size : 6;
}
